streamlit
scipy
matplotlib
numpy
pandas
seaborn
plotly
lmfit
imageio
tabulate
scikit-learn
gsheetsdb
youtube_transcript_api
yfinance
patsy
statsmodels
latex
openpyxl
openai
folium
streamlit_folium
scikit-misc
simpy
deep_translator
cbsodata
pytesseract
PyPDF2
pymannkendall
polars
plotly-calplot
gpxpy
geopy
branca
fitz
PyMuPDF
